Package: com.voicewitness.xiguaTweak
Name: XiGuaTweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: XiGua Video MobileSubstrate tweak!
Maintainer: voicewitness
Author: voicewitness
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 432
